@CHARSET "UTF-8";

table {
	border-collapse: collapse;
	padding: 0;
}

.selected {
	background-color: #fff8e1
}

.selected:hover {
	background-color: #ffffff;
	position: relative;
	top: 10px;
	left: 10px;
}

.row {
	background-color: #f5f5f5;
}

.row:hover {
	background-color: #ffffff;
	position: relative;
	top: 10px;
	left: 10px;
}

.label:hover {
	font-size: large;
}

.label {
	color: red;
}

.total:hover {
	font-size: x-large;
}

.total {
	color: red;
	font-size: large;
}

.price {
	font-family: cursive;
	font-size: medium;
}

.submit-btn:hover {
	background-color: #ff0000;
}

.submit-btn:link {
	color: white;
}

.submit-btn {
	display: inline-block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	background: #ff6a05;
	text-align: center;
	font-family: 'Lantinghei SC', 'Microsoft Yahei';
	font-size: 16	px;
	text-decoration: none;
	cursor: pointer;
	border: none;
	color: white;
}

a {
	color: #3c3c3c;
	text-decoration: none;
}

a:hover {
	color: #f40;
}

.checkbox {
	cursor: pointer;
}