<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>shopping</display-name>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ShowShoppingcartServlet</servlet-name>
		<servlet-class>team.jmu.servlet.ShowShoppingcartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PutGoodsServlet</servlet-name>
		<servlet-class>team.jmu.servlet.PutGoodsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PushGoodsServlet</servlet-name>
		<servlet-class>team.jmu.servlet.PushGoodsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeNumberServlet</servlet-name>
		<servlet-class>team.jmu.servlet.ChangeNumberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllOrder</servlet-name>
		<servlet-class>team.jmu.servlet.GetAllOrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetAllOrder</servlet-name>
		<url-pattern>/servlet/GetAllOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowShoppingcartServlet</servlet-name>
		<url-pattern>/servlet/ShowShoppingcart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PutGoodsServlet</servlet-name>
		<url-pattern>/servlet/PutGoodsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PushGoodsServlet</servlet-name>
		<url-pattern>/servlet/PushGoodsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeNumberServlet</servlet-name>
		<url-pattern>/servlet/ChangeNumberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetType</servlet-name>
		<servlet-class>team.jmu.servlet.GetType</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetType</servlet-name>
		<url-pattern>/servlet/GetType</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetTheGoodsServlet</servlet-name>
		<servlet-class>team.jmu.servlet.GetTheGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTheGoodsServlet</servlet-name>
		<url-pattern>/servlet/GetTheGoodsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetTenGoodsServlet</servlet-name>
		<servlet-class>team.jmu.servlet.GetTenGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTenGoodsServlet</servlet-name>
		<url-pattern>/servlet/GetTenGoodsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteGoodsServlet</servlet-name>
		<servlet-class>team.jmu.servlet.DeleteGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteGoodsServlet</servlet-name>
		<url-pattern>/servlet/DeleteGoodsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateGoodsServlet</servlet-name>
		<servlet-class>team.jmu.servlet.UpdateGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGoodsServlet</servlet-name>
		<url-pattern>/servlet/UpdateGoodsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>team.jmu.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignServlet</servlet-name>
		<servlet-class>team.jmu.servlet.SignServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyServlet</servlet-name>
		<servlet-class>team.jmu.servlet.ModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>team.jmu.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateOrderServlet</servlet-name>
		<servlet-class>team.jmu.servlet.CreateOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmOrderServlet</servlet-name>
		<servlet-class>team.jmu.servlet.ConfirmOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProvinceServlet</servlet-name>
		<servlet-class>team.jmu.servlet.ProvinceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CityServlet</servlet-name>
		<servlet-class>team.jmu.servlet.CityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DistrictServlet</servlet-name>
		<servlet-class>team.jmu.servlet.DistrictServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>team.jmu.servlet.UploadImg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowOrderDetail</servlet-name>
		<servlet-class>team.jmu.servlet.ShowOrderDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetGoodsInfo</servlet-name>
		<servlet-class>team.jmu.servlet.GetGoodsInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOrderList</servlet-name>
		<servlet-class>team.jmu.servlet.GetOrderList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OperateOrder</servlet-name>
		<servlet-class>team.jmu.servlet.OperateOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PutComment</servlet-name>
		<servlet-class>team.jmu.servlet.PutCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendGoods</servlet-name>
		<servlet-class>team.jmu.servlet.SendGoodsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserFindByName</servlet-name>
		<servlet-class>team.jmu.servlet.UserFindByName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFindByName</servlet-name>
		<url-pattern>/UserFindByName</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignServlet</servlet-name>
		<url-pattern>/SignServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyServlet</servlet-name>
		<url-pattern>/ModifyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateOrderServlet</servlet-name>
		<url-pattern>/servlet/CreateOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmOrderServlet</servlet-name>
		<url-pattern>/servlet/ConfirmOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProvinceServlet</servlet-name>
		<url-pattern>/servlet/ProvinceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CityServlet</servlet-name>
		<url-pattern>/servlet/CityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DistrictServlet</servlet-name>
		<url-pattern>/servlet/DistrictServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/servlet/UploadImg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowOrderDetail</servlet-name>
		<url-pattern>/servlet/ShowOrderDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetGoodsInfo</servlet-name>
		<url-pattern>/GetGoodsInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrderList</servlet-name>
		<url-pattern>/servlet/GetOrderList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperateOrder</servlet-name>
		<url-pattern>/servlet/OperateOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PutComment</servlet-name>
		<url-pattern>/servlet/PutComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendGoods</servlet-name>
		<url-pattern>/servlet/SendGoods</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
</web-app>